.LoginPage {
    display: flex;
    flex-direction: column;
    align-items: center;

    .ImgContainer {
        img {
            height: 250px;
            width: 100%;
        }
    }

    .description {
        text-align: center;
        direction: rtl;

        .topText {
            margin: 0;
        }
    
        .secondaryText {
            color: #6C6C6C;
            margin: 0;
            margin-top: 8px;
        }
    }
}