.FormContainer {
    width: 100%;
    margin-top: 24px;

    form > * + * {
        margin-top: 16px;
    }

    .AppButton {
        margin-top: 16px;
        direction: rtl;

        .spinner {
            margin-right: 8px;
        }
    }
}