.AppModal {
    direction: rtl;

    .dialogTitle {
        display: flex;
        align-items: center;

        .faIcon {
            display: flex;
            margin-right: 8px;
            

            .success {
                color: mediumseagreen;
            }

            .failure {
                color: red;
            }

            .info {
                color: cornflowerblue;
            }
        }
    }
}